./**
../**
.git/**
.idea/**
.rattler-local/**
.DS_Store

**test**
**local**
**dev**
**.sum


# Project exclude paths
.rattler-win.yaml
.rattler-test.yaml
rattler-ncc-win.yaml
rattler-win.yaml
*win-*.yaml
*test.yaml

file_structure_ncc.md

# Caddy
Caddyfile
Caddyfile-win
Caddyfile-linux

# build
build/
dist/
out/

*.zip

# docs
docs/**
